body{
    background: rgb(5, 134, 117);
}
.formlabel {
    display:inline-block;
    width: 150px;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
#personal{
    border-bottom:thick;
}