/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color:#101240;
}

.container{
  margin:auto;
  padding:40px;
}

img{
  max-width:100%;
}
.img-right{
  float:right;
  border:2px solid #cc3867;
  padding:5px;
  border-radius:20px 0;
  max-width:calc(50%-20px);
  margin:20px 0 20px 20px;
}

/*
 ~Longform~
margin-top: 40px;
margin-right: 10px;
margin-bottom: 30px;
margin-left: 15px;

~Shorthand T | R | B | L~
margin:40px 10px 30px 15px;

~Shorthand~
margin:40px;

~Two Value Shorhand Top/Bottom | Left/Right~
margin:40px auto;

*/
main{
  background-color:#ffffff;
  width:80vw;
  max-width:1140px;
  margin:40px auto;
  border:2px solid #0096a6;
  border-radius:4px;
}

header.primary {
  background-color:#8FBDD9;
  padding:20px;
  background-image: url("https://assets.codepen.io/7248/bg_1.png");
  background-repeat: no-repeat;
  background-size:cover;
  display:flex;
  justify-content:space-between;
  flex-direction: row;
  border-bottom:6px solid #0096a6;
}

header.primary .hgroup{
  width:65%;
}

header.primary nav{
  width:30%;
}
.hgroup h1, .hgroup h2{
  margin:0;
}

.hgroup h1 a{
  color:#ffffff;
  text-shadow:1px 1px #000000;
  font-size:2.5rem;
  text-decoration:none;
}

.hgroup h2{
  color:#ffffff;
  text-shadow:1px 1px #000000;
  font-size:1.8rem;
}

header.primary nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

header.primary nav a{
  display:block;
  background-color: rgba(0,0,0,.6);
  color:#fff;
  padding:10px 10px 10px 0;
  border: 1px solid #cc3a67;
  margin-bottom:10px;
  border-radius:20px 0;
  border-right:10px solid #cc3a67;
  text-decoration:none;
  text-align:right;
  transition: .75s;
}

header.primary nav a:hover{
    background-color: rgba(0,0,0,1);
    text-decoration:underline;
}

#content {
  line-height:1.7;
 }
#content h2, #content h3{
  color:#161a59;
  border-left:7.5px solid #d94179;
  padding: 5px 7.5px;
  border-radius: 15px 0;
}
#blog{
   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(16,77,115,1) 100%);
  padding:20px 0;
  border-top:6px double #ffffff;
  border-bottom:6px double #ffffff;
}
#blog > h2{
  color:#ffffff;
  text-shadow: 2px 2px #000;
  font-size:2.2rem;
  margin-left:20px;
}#blog article.post {
  background:#fff;
  margin:20px;
  padding:20px;
  display:grid;
  grid-template-columns:1fr 3fr;
  grid-template-rows:auto;
  grid-template-areas:
    "figure header"
    "figure post-content"
    "figure footer";
  grid-gap:20px;
}
#blog figure{
  margin:0;
  grid-area:figure;
}
#blog header{
  grid-area:header;
}
#blog .post-content{
  grid-area:post-content;
}
#blog footer{
  grid-area:footer;
}
aside .container {
  display:flex;
}
aside article.widget{
  flex:0 0 50%;
}
aside .widget:first-of-type{
  border-right:1px dotted #000;
  padding-right:40px;
}
aside .widget:last-of-type{
  padding-left:40px;
}
