html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
 .container{
    width:70vw;
    margin:40px auto;
    max-width:960px;
  }
img{
    max-width:100%;
  }
body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    margin:0;
}


header.primary{
  background-image: url(../img/photo-1602984611136-eadcc6df28fd.jpg);
  background-color:rgba(13, 24, 84, 0.836);
    text-align:center;
    color:#ffffff;
    padding:10px;
    text-shadow: 1px 1px #000000;
    font-size:2.4rem;
   
}
header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2 {
  color:#590202;
  font-size:2.0rem;
  /* Top | Left/Right | Bottom*/
  margin:10px auto 30px;
}

header.primary nav{
  background:none;
}

header.primary ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

header.primary li{
  list-style-type: none;
}

header.primary nav a{
  color:#590202;
  text-decoration:none;
  background:#D9CCC5;
  padding:8px 16px;
  border-radius:20px;
  transition:.5s;
  /* width | stroke type | color */
  border:1px solid rgba(0,0,0,.6);
}

header.primary nav a:hover, header.primary nav a:active {
  background:#590202;
}

h2{
  text-align:center;
}

#para1{
  color:#590202;
  text-align: center;
  margin: 40px 40px;
  padding: 20px;
}

#sect2{
  display: block;
  background-color: #8C0303;
  justify-content: center;
  padding-bottom: 20px;
}

#video1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 20px;
}

.footer{
  color:#D9CCC5;
  text-align: center;
  background-color:rgba(5, 6, 17, 0.932);
  padding: 10px;
}