* {
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}

/* This sets the margins and padding to 0 for the website*/
body {
	width:1100px;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #EC7AF2;
	background-image:linear-gradient(to right top, #e7eadc, #f0d3ab, #ffb096, #ff89b2, #ec7af2);
	
	background-repeat: repeat;
	font-size: 16px;
	line-height: 1.5em;
}
container {
	width:100%;
	min-height:100vh;
	background-color:#EC7AF2;
}
nav{
	display:flex;
	width:100%;
	justify-content:space-around;
	height:80px;
	z-index:111;
	background-color: #9D1AA4;
	line-height:80px;
}
.logo{
	display:flex;
	font-size:40px;
	font-weight:800;
	color:#9D1AA4;
	cursor:pointer;
	text-decoration:none;
}
.navItems{
	display:inline-flex;
	text-align:center;
}

.navItems li{
	list-style:none;
	margin:0 15px;
}
.navItems li a{
	font-size:25px;
	color:#1e1e1f;
	leter-spacing:3px;
	text-decoration:none;
	text-transform:capitalize;
}
.navItems li:hover a,
.links a{
	color:rgb(234, 238, 10);
	background-color: rgb(4, 114, 114);
}
.navItems1{
	display:none;
}

.links a{
	font-size:30px;
	color:#1e1e1f;
	margin:25px 10px;
}

img{
	max-width:100%;
	border-radius:80px;
	margin-left:80px;
	margin-right:0px;
	padding:10px;
}

.wrapper{
	display:flex;
	width:100%;
	height:calc(100vh-80px);
	justify-content:center;
	align-items:center;
	padding:0 10%;
	margin-top:40px;
	margin-bottom:40px;
	overflow:hidden;
}
.wrapper::before{
	position:absolute;
	content:'';
	height:600px;
	width:600px;
	border-radius:50%;
	left:-12%;
	top:40%;
	animation: object1 6s linear infinite;
}
.wrapper::after{
	position:absolute;
	content:'';
	height:200px;
	width:200px;
	border-radius:50%;
	left:-35%;
	top:12%;
	animation: object1 6s linear infinite;
}

.cols{
	width:50%;
}
.cols0{
	z-index: 5;
	width:75%;
}
.topline{
	display:block;
	position:relative;
	font-size:35px;
	letter-spacing:5px;
	color:#1e1e1f;
}
.topline::after{
	position:absolute;
	content:'';
	height:4px;
	width:45px;
	bottom:10px;
}
h1{
	display:block;
	font-size:3em;
	font-weight:900;
	padding:20px;
}
.multitext{
	color:rgb(4, 114, 114);
	text-transform:capitalize;
p{
	display:block;
	width:90%;
	font-size:1.2em;
}







