html {
	box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }
body{
  margin:0;
  padding:0;
  height:100vh;
  margin-left:0px;
  background-color:#EC7AF2;
background-image:linear-gradient(to     right top, #e7eadc, #f0d3ab, #ffb096,   #ff89b2, #ec7af2);
  background-repeat: no-repeat;  
}
.grid-container{
  display:grid;
  grid-template-columns:1.5fr 2.0fr 1fr 1fr;
  grid-template-rows:100px 100px 200px auto auto auto 100px;
  margin:0;
  padding:0;
}
header{
  grid-column-start:1;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:2;
  background-color:#9D1AA4;
  background-image:url('https://cdn2.clickdesigns.com/users/1375/custom_image/128131/final.png');
}
header img{
	margin-left:200px;
}
.links{
  display:flex;
  flex-direction:row;
  grid-column-start:2;
  grid-column-end:4;
  grid-row-start:2;
  grid-row-end:3;
  list-style:none;
  text-decoration:none;
  justify-content:center;
}
.links ul{
	display:flex;
	justify-content:space-between;
	padding-left:10px;
	padding-top:10px;
}
.links ul li{
display:flex;
  justify-content:space-between;
	align-items:center;
	border:1px thin black;
  padding-left:20px;
}
.links ul li a{
  text-decoration:none;
  border:solid 2px purple;
  font-size:25px;
  color:black; 
}
.links li:hover a,
.links a{
	color:rgb(234, 238, 10);
	background-color: rgb(4, 114, 114);
}
.links a{
	font-size:30px;
	color:#1e1e1f;
	margin:25px 10px;
	text-align:center;
}
main{
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:3;
  grid-row-end:5;
  margin-top:30px;
}
.multitext{
  color:rgb(4, 114, 114);
	text-transform:capitalize;
}
.vision{
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:5;
  grid-row-end:6;
  margin-left:0px;
  padding-bottom:15px;
  margin-bottom:15px;
  background-color: turquoise;
}
.mission{
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:5;
  grid-row-end:6;
  margin-left:0px;
  padding-bottom:15px;
  margin-bottom:auto;
  background-color:purple;
}
.me{
  grid-column-start:4;
  grid-column-end:5;
  grid-row-start:4;
  grid-row-end:6;
  margin-right:20px;
}
.me img{
border:2px solid black;
  border-radius:80%;
  max-width:400px;
}

.reflections{
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:6;
  grid-row-end:7;
  margin-right:40px;
  margin-top:80px;
}
.projects{
  grid-column-start:4;
  grid-column-end:5;
  grid-row-start:6;
  grid-row-end:7;
  margin-top:80px;
}
footer{
  grid-column-start:1;
  grid-column-end:5;
  grid-row-start:7;
  grid-row-end:8;
  background-color:#9D1AA4;
  text-align:center;
  font-size:30px;
}
@media screen and (max-width:450px){
	.grid-container{
    width:60%;
    height:100vh;
		display:grid;
		grid-template-columns:1fr;
    grid-template-rows:auto;
    align-items:center;
    margin:0;
    padding:0;
	  }
	  header{
    width:120%;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
	  }
	  .links{
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:2;
      grid-row-end:3;
	  }
	  .multitext{
      margin-top:0;
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:3;
      grid-row-end:4;
      text-align:center;
	  }
	  main{
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:4;
      grid-row-end:5;
      margin-right:-5%;
      margin-left:5%;
      max-height:100%;
	  }
    .me img{
      display:none;
    }
	  .vision{
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:5;
      grid-row-end:6;
      margin-left:5%;
      margin-right:-5%;
      justify-self:center;
      padding:0;
	  }
	  .mission{
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:6;
      grid-row-end:7;
      margin-left:5%;
      margin-right:-5%;
      margin-bottom:-30%;
	  }
	  .reflections{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:7;
    grid-row-end:8;
    padding-top:15%;
    margin-left:5%;
    margin-right:-5%;
	  }
	  .projects{
		grid-area:projects;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:8;
    grid-row-end:9;
    padding-top:0;
    margin-left:5%;
    margin-right:-5%;
	  }
	  footer{
    width:120%;
    font-size:15px;
    margin:0;
    padding:0;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:9;
    grid-row-end:10;
	  }
}
@media screen and (min-width:451px) and (max-width:767px){
	.grid-container{
    width:90%;
    height:100vh;
		display:grid;
		grid-template-columns:1fr;
    grid-template-rows:auto;
    align-items:center;
    margin:0;
    padding:0;
    grid-gap:-20%;
	  }
	  header{
    width:120%;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
	  }
	  .links{
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:2;
      grid-row-end:3;
	  }
	  .multitext{
      margin-top:0;
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:3;
      grid-row-end:4;
      text-align:center;
	  }
	  main{
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:4;
      grid-row-end:5;
      margin-right:-5%;
      margin-left:5%;
      max-height:100%;
      padding-bottom:10%;
	  }
    .me img{
      display:none;
    }
	  .vision{
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:5;
      grid-row-end:6;
      margin-left:5%;
      margin-right:-10%;
      justify-self:center;
      padding:0;
	  }
	  .mission{
      grid-column-start:1;
      grid-column-end:2;
      grid-row-start:6;
      grid-row-end:7;
      margin-left:5%;
      margin-right:-10%;
      margin-bottom:-5%;
      height:100%;
      padding-bottom:5%;
	  }
	  .reflections{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:7;
    grid-row-end:8;
    height:100%;
    margin-left:5%;
    margin-right:-5%;
    padding-top:-20%;
	  }
	  .projects{
		grid-area:projects;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:8;
    grid-row-end:9;
    padding-top:0;
    margin-left:5%;
    margin-right:-5%;
    margin-top:0;
	  }
	  footer{
    width:120%;
    font-size:15px;
    margin:0;
    padding:0;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:9;
    grid-row-end:10;
	  }
}
@media screen and (min-width:768px) and (max-width:991px){
	.grid-container{
    width:100%;
    height:100vh;
		display:grid;
		grid-template-columns:1.5fr 1fr 1fr 1.5fr;
    grid-template-rows:auto;
    align-items:center;
    margin:0;
    padding:0;
    
	  }
	  header{
    width:100%;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;
	  }
	  .links{
      grid-column-start:2;
      grid-column-end:4;
      grid-row-start:2;
      grid-row-end:3;
      justify-content:center;
	  }
	  .multitext{
      margin-top:0;
      grid-column-start:1;
      grid-column-end:3;
      grid-row-start:3;
      grid-row-end:4;
      text-align:center;
	  }
	  main{
      grid-column-start:1;
      grid-column-end:3;
      grid-row-start:4;
      grid-row-end:5;
      margin-right:5%;
      margin-left:5%;
      max-height:100%;
      padding-bottom:10%;
      margin-bottom:10%;
	  }
    .me img{
      grid-column-start:3;
      grid-column-end:5;
      grid-row-start:1;
      grid-row-end:4;
    }
    
	  .vision{
      grid-column-start:1;
      grid-column-end:3;
      grid-row-start:5;
      grid-row-end:6;
      margin-left:5%;
      margin-right:-10%;
      justify-self:center;
	  }
	  .mission{
      grid-column-start:3;
      grid-column-end:5;
      grid-row-start:5;
      grid-row-end:6;
      margin-left:10%;
      margin-right:10%;
      margin-bottom:-5%;
      height:100%;
      padding-bottom:5%;
	  }
	  .reflections{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:8;
    grid-row-end:9;
    height:100%;
    margin-left:5%;
    margin-right:-5%;
    padding-top:20%;
	  }
	  .projects{
		grid-area:projects;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:8;
    grid-row-end:9;
    padding-top:30%;
    margin-left:5%;
    margin-right:-5%;
    margin-top:0;
	  }
	  footer{
    width:100%;
    font-size:20px;
    margin:0;
    padding:0;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:9;
    grid-row-end:10;
	  }
}
@media screen and (min-width:992px){
	.grid-container{
    display:grid;
    grid-template-columns:1.5fr 2.0fr 1fr 1fr;
    grid-template-rows:100px 100px 200px auto auto auto 100px;
    margin:0;
    padding:0;
  }
  header{
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;
    background-color:#9D1AA4;
    background-image:url('https://cdn2.clickdesigns.com/users/1375/custom_image/128131/final.png');
  }
  header img{
    margin-left:200px;
  }
  .links{
    display:flex;
    flex-direction:row;
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
    list-style:none;
    text-decoration:none;
    justify-content:center;
  }
  .links ul{
    display:flex;
    justify-content:space-between;
    padding-left:10px;
    padding-top:10px;
  }
  .links ul li{
  display:flex;
    justify-content:space-between;
    align-items:center;
    border:1px thin black;
    padding-left:20px;
  }
  .links ul li a{
    text-decoration:none;
    border:solid 2px purple;
    font-size:25px;
    color:black; 
  }
  .links li:hover a,
  .links a{
    color:rgb(234, 238, 10);
    background-color: rgb(4, 114, 114);
  }
  .links a{
    font-size:30px;
    color:#1e1e1f;
    margin:25px 10px;
    text-align:center;
  }
  main{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:5;
    margin-top:30px;
  }
  .multitext{
    color:rgb(4, 114, 114);
    text-transform:capitalize;
  }
  .vision{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:5;
    grid-row-end:6;
    margin-left:0px;
    padding-bottom:15px;
    margin-bottom:15px;
    background-color: turquoise;
  }
  .mission{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:5;
    grid-row-end:6;
    margin-left:0px;
    padding-bottom:15px;
    margin-bottom:auto;
    background-color:purple;
  }
  .me{
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:4;
    grid-row-end:6;
    margin-right:20px;
  }
  .me img{
  border:2px solid black;
    border-radius:80%;
    max-width:400px;
  }
  
  .reflections{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:6;
    grid-row-end:7;
    margin-right:40px;
    margin-top:80px;
  }
  .projects{
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:6;
    grid-row-end:7;
    margin-top:80px;
  }
  footer{
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:7;
    grid-row-end:8;
    background-color:#9D1AA4;
    text-align:center;
    font-size:30px;
  }
}