:root{
    --background: rgba(176,178,182,1.00);
}
*, *::before, *::after{
    box-sizing:border-box;
}
body{
    margin:0;
    background-image: linear-gradient(to bottom, #726b5c, #7b7466, #857d70, #8e877b, #989085, #9c8d7b, #a08971, #a48567, #a4714a, #a55a31, #a53f1e, #a51313);
    background-repeat:no-repeat;
    font-family:'Work Sans', sans-serif;
    font-weight:300;
}
content{
    height:200vh;
    background-image: linear-gradient(to bottom, #726b5c, #7b7466, #857d70, #8e877b, #989085, #9c8d7b, #a08971, #a48567, #a4714a, #a55a31, #a53f1e, #a51313);
    background-blend-mode:multiply;
    background-size:cover;
    display:grid;
    place-items:center;
}
header{
    background:var(--background);
    text-align:center;
    position:fixed;
    z-index:999;
    width:100%;
    padding:0;
}

.nav-toggle{
    display:none;
    position:relative;
}
.nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left:1em;
    height:110%;
    display:flex;
    align-items:center;
}
nav{
    position:absolute;
    text-align:left;
    top:100%;
    left:0;
    background:var(--background);
    width:100%;
    transform:scale(1,0);
    transform-origin:top;
    transition:transform 400ms ease-in-out;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li{
    margin-bottom:1em;
    margin-left:1em;
}
nav a{
    color:red;
    text-decoration:none;
    font-size:1.2rem;
    text-transform:uppercase;
    opacity:0;
    transition:opacity 150ms ease-in-out;
}
nav a:hover{
    color:#000;
}
.nav-toggle:checked ~ nav{
    transform:scale(1,1);
}
.nav-toggle:checked ~ nav a{
    opacity:1;
    transition:opacity 250ms ease-in-out 250ms;
}
.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after{
    display:block;
    background:white;
    height:2px;
    width:2em;
    border-radius:2px;
    position:relative;
}
.nav-toggle-label span:before,
.nav-toggle-label span:after{
    content:'';
    position:absolute;
}
.nav-toggle-label span:before{
    bottom:7px;
}
.nav-toggle-label span:after{
    top:7px;
}