:root{
    --background: rgba(176,178,182,1.00);
}
*, *::before, *::after{
    box-sizing:border-box;
}
body{
    margin:0;
    height:200vh;
    background-image: linear-gradient(to bottom, #726b5c, #7b7466, #857d70, #8e877b, #989085, #9c8d7b, #a08971, #a48567, #a4714a, #a55a31, #a53f1e, #a51313);
    background-repeat:no-repeat;
    font-family:'Work Sans', sans-serif;
    font-weight:300;
}
content{
    height:100vh;
    background-image: linear-gradient(to bottom, #726b5c, #7b7466, #857d70, #8e877b, #989085, #9c8d7b, #a08971, #a48567, #a4714a, #a55a31, #a53f1e, #a51313);
    background-blend-mode:multiply;
    background-size:cover;
    display:grid;
    place-items:center;
}
content img{
    width:100%;
    object-fit:cover;
    margin:auto;
    margin-top:20px;
}
header{
    background:var(--background);
    text-align:center;
    position:fixed;
    z-index:999;
    width:100%;
    padding:0;
}
.header{
    position: relative;
    width: 100%;
}
.header img{
    width:100%;
    height:auto;
}
.header .btn1{
    position: absolute;
  top: 50%;
  right: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 30px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.header .btn2{
    position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 30px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.header h1,
.header h3{
    font-size:1.25rem;
    text-align:center;
}
.nav-toggle{
    display:none;
    position:relative;
}
.nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left:1em;
    height:110%;
    display:flex;
    align-items:center;
}
nav{
    position:absolute;
    text-align:left;
    top:100%;
    left:0;
    background:var(--background);
    width:100%;
    transform:scale(1,0);
    transform-origin:top;
    transition:transform 400ms ease-in-out;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li{
    margin-bottom:1em;
    margin-left:1em;
}
nav a{
    color:red;
    text-decoration:none;
    font-size:1.2rem;
    text-transform:uppercase;
    opacity:0;
    transition:opacity 150ms ease-in-out;
}
nav a:hover{
    color:#000;
}
.nav-toggle:checked ~ nav{
    transform:scale(1,1);
}
.nav-toggle:checked ~ nav a{
    opacity:1;
    transition:opacity 250ms ease-in-out 250ms;
}
.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after{
    display:block;
    background:white;
    height:2px;
    width:2em;
    border-radius:2px;
    position:relative;
}
.nav-toggle-label span:before,
.nav-toggle-label span:after{
    content:'';
    position:absolute;
}
.nav-toggle-label span:before{
    bottom:7px;
}
.nav-toggle-label span:after{
    top:7px;
}
/*Home Page*/
.history{
    display:flex;
    margin-left:20px;
    margin:0;
  }
  .history img{
    border:5px solid rgb(180, 40, 5);
    width:100%;
    height:100%;
    justify-content:center;
  }
  .history .header1{
    margin-left:auto;
    text-align:left;
    color:#000000;
    margin-bottom:40px;
    margin-top:20px;
  }
  .values{
    display:flex;
    margin-left:20px;
    margin:0;
  }
  .values .values1{
    margin-left:auto;
    text-align:left;
    color:#000000;
    margin:auto;
    height:100%;
    padding-top:20px;
  }
  .values img{
    border:5px solid rgb(194, 186, 184);
    width:100%;
    height:100%;
    justify-content:center;
  }
  /*--Fade Container--*/
  img{
    max-width:100%;
  }
  h2{
    text-align:center;
    font-size:30px;
    color:#000000;
  }
  .color{
    background-color:#a4714a;
  }
  .container{
    margin:40px auto;
    width:70vw;
    background-color:#555;
    /* Set Max Content Width */
    max-width:500px;
  }
  /* Customize Previous/Next/Dots/Autoplay */
  
  .slick-autoplay-toggle-button,
  .slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
  .slick-dots li button .slick-dot-icon,
  .slick-dots li.slick-active button .slick-dot-icon {
  color: rgb(194, 10, 10);
  }
  
  /* Customize Previous/Next/Dots/Autoplay - Active State */
  
  .slick-next:focus .slick-next-icon,
  .slick-next:focus .slick-prev-icon,
  .slick-prev:focus .slick-next-icon,
  .slick-prev:focus .slick-prev-icon,
  .slick-dots li button:focus .slick-dot-icon:before,
  .slick-dots li.slick-active button:focus .slick-dot-icon,
  .slick-autoplay-toggle-button:focus 
  {
    color:black;
  }
  footer{
    font-size:15px;
    text-align:center;
    background-color:rgba(176,178,182,1.00);
    width:100%;
  }
  /*--Ministry Page--*/
  .ministry{
    width:90%;
    padding:20px;
    margin:100px auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .box{
    width:250px;
    margin:0, 10px;
    box-shadow:0 0 20px 2px rgba(0,0,0,.1);
    transition:1s;
  }
  .box img{
    display:block;
    width:100%;
    border-radius:5px;
  }
  .box:hover{
    transform:scale(1.3);
    z-index:2;
  }

/*Mobile Version*/
/*Navigation*/
@media screen and (min-width:200px) and (max-width:450px){
    body{
    height:200vh;
    background-image: linear-gradient(to bottom, #726b5c, #7b7466, #857d70, #8e877b, #989085, #9c8d7b, #a08971, #a48567, #a4714a, #a55a31, #a53f1e, #a51313);
    }
    header{
        display:grid;
        grid-template-columns:1fr;
    }
    .logo{
        grid-column:1 / 3;
        justify-content:center;
        margin-left:100px;
        margin-right:100px;
    }
    nav{
        display:flex;
        grid-column:1 / 3;
        justify-content:space-between;
        align-items:center;
    }
    nav ul{
        display:flex;
        justify-content:flex-end;
        
    }
    nav li{
        margin-left:3em;
        margin-bottom:0;
    }
    nav a{
        opacity:1;
        position:relative;
    }
    nav a:before{
        content:'';
        display:block;
        height:5px;
        background:black;
        position:absolute;
        top:-.75em;
        left:0;
        right:0;
        transform:scale(0,1);
        transition:transform ease-in-out 250ms;
    }
    nav a:hover::before{
        transform:scale(1,1);
    }
    /*Home Page*/
    .history{
        display:grid;
        grid-template-columns:1fr;
        position:center;
    }
    .values{
        display:grid;
        grid-template-columns:2.5fr;
        grid-template-rows:250px;
        position:center;
    }
    .values .values1{
        margin-left:auto;
        text-align:left;
        color:#000000;
        margin-top:20px;
        height:100%;
      }
    .values .container{
        color:red;
    }
    /*Ministry Page*/
    h2{
        padding-top:30px;
    }
    .bio{
        width:100%; 
    }
    .ministry{
        width:100%;
        padding:20px;
        margin:100px auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        background-image: linear-gradient(to bottom, #726b5c, #7b7466, #857d70, #8e877b, #989085, #9c8d7b, #a08971, #a48567, #a4714a, #a55a31, #a53f1e, #a51313);
      }
      .box{
        width:100%;
        margin:0, 10px;
        box-shadow:0 0 20px 2px rgba(0,0,0,.1);
        transition:1s;
      }
      .box img{
        display:block;
        width:100%;
        border-radius:5px;
      }
      .box:hover{
        transform:scale(1.3);
        z-index:2;
      }
}